<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Avaliação Docente</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema de Avaliação Docente</h1>
    <p>Este sistema permite que os usuários avaliem o desempenho dos docentes de forma anônima e transparente. Os usuários podem se cadastrar, fazer login e enviar suas avaliações sobre os docentes.</p>
    <p>Para começar, você pode se cadastrar como um novo usuário ou fazer login se já tiver uma conta.</p>
    <a href="/inserirUsuario">Cadastrar-se</a> 
</body>
</html>